<h1>Story {{originalStoryName}}</h1>

<div ng-bind="errors" ng-if="errors" style="color:#d8000c;background:#ffd2d2;margin: 10px 0px; padding: 12px;"></div><br/>
<div ng-bind-html="message"></div><br/>

<div ng-show="redirectToStories">
    <a href="index.html#/stories" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>Go back to Stories list</a>
</div>

<form role="form" name="storyForm" ng-submit="submit()" ng-hide="redirectToStories">
    <input type="hidden" name="originalStoryName" value="{{story.name}}"/>


    <div class="form-group">
        <label for="storyName">Name</label>
        <input type="text" class="form-control" ng-model="story.name" id="storyName" name="storyName"/>
    </div>
    <div class="form-group">
        <label for="storyText">Text</label>
        <textarea class="form-control" rows="8" ng-model="story.storyText" id="storyText" name="storyText"></textarea>
    </div>

    <div class="form-group">
        <label for="storyText">Validation</label>
        <div ng-bind-html="validationHTML"></div>
        <!--
        <div ng-show="validation.perfectMatches.length>0">Valid !</div>
        <div ng-show="validation.perfectMatches.length==0" ng-repeat="match in validation.partialMatches">
            <b>Partial match: {{match.patternName}}</b> ({{match.start}}-{{match.end}})<br/>
            &nbsp;&nbsp;Pattern short: {{match.patternShort}}<br/>
            &nbsp;&nbsp;Pattern full: {{match.patternFull}}<br/>
        </div>
        -->
    </div>

    <div class="form-group" ng-show="story.error">
        <label for="storyText">Errors</label>
        <textarea class="form-control" readonly="true" rows="10" ng-model="story.error" id="storyError" name="storyError"></textarea>
    </div>

    <button type="button" class="btn btn-primary glyphicon glyphicon-ok" ng-click="submit()" ng-show="storyForm.$dirty">Save changes</button>
    <button type="button" class="btn glyphicon glyphicon-check" ng-click="validate()">Validate</button>
    <a href="index.html#/stories" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
</form>
