*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.log
*.db
*.iml
.idea
*.tmp
*.csv
poc-*
*.tgz
*.zip
target
dsi
*.old
externalweb/*
plot*
copper.properties
*.csv
*.old
*.log
*.py
*.db
plot.*
*.tmp
*.tgz
*.iml
dsi
target
.idea
externalweb
Local*.java
Sandbox*.java
refent*
local
*.bak
real1
/screens/siti.json
/t
/stories/test1
/stories/RCENT_I2_STATUSByWeb
/pom.xml.releaseBackup
