<h1>Stories</h1>

<a href="#/story/new" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-add"></span> Create a story</a>
<br/>
<br/>


<label>Search: <input ng-model="searchText"></label>
<table class="table-striped table-bordered" style="width: 100%; border: 1px outset silver">
    <thead>
    <th style="text-align:right;padding: 5px;"><a ng-click="triggerSort('story.name')">Name</a></th>
    <th>Notes</th>
    <th style="text-align:left; padding-left: 10px">Cron</a></th>
    <th style="text-align:left; padding-left: 10px"><a ng-click="triggerSort('story.nextRun')">Next run</a></th>
    <th style="text-align:left; padding-left: 10px">Actions</th>
    </thead>
    <tbody>
    <tr ng-repeat="story in stories | filter:searchText | orderBy:sortBy:sortReverse">
        <td style="text-align:right;padding: 5px;font-weight:bold"><a title="{{story.storyText}}">{{story.name}}</a></td>
        <td style="text-align:left; padding-left: 10px">
            <div class="glyphicon glyphicon-exclamation-sign" style="color:red" title="{{story.error}}" ng-show="story.hasError"></div>
        </td>
        <td style="text-align:left; padding-left: 10px">{{story.cron}}</td>
        <td>
            {{story.nextRun | date : 'yyyy-MM-dd HH:mm:ss'}}
        </td>
        <td>
            <button class="btn btn-primary" ng-click="runStory(story.name)">Run</button>
            <a href="#/story/{{story.name}}" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <button class="btn btn-warning" ng-click="deleteStory(story.name)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
        </td>
    </tr>
    </tbody>

</table>
<br/>

