<h1>Values</h1>
<div class="row">


    <label>Search: <input ng-model="searchText"></label>
    <table class="table-striped table-bordered" style="width: 100%; border: 1px outset silver">
        <thead>
            <th style="text-align:right;padding: 5px">Key</th>
            <th style="text-align:left; padding-left: 10px">Value</th>
            <th style="text-align:center">Date from</th>
            <th style="text-align:center">Date to</th>
            <th style="text-align:center">Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="(k,v) in filter(values, 'key', searchText)">
                <td style="text-align:right;padding: 5px;font-weight:bold"><a href="/#/history?key={{k}}">{{k}}</a></td>
                <td style="text-align:left; padding-left: 10px">{{v.value}}</td>
                <td style="text-align:center;width: 150px">{{v.timestampFrom | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="text-align:center;width: 150px">{{v.timestampTo | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <a href="/ws/values/query/png?columns={{k}}" target="_blank">Graph (small)</a>
                    /
                    <a href="/ws/values/query/png?columns={{k}}&width=1280&height=960" target="_blank">Graph (big)</a>
                </td>
            </tr>
        </tbody>
    </table>

    <br/><br/>
    <pre>ALERTS (some value could have too much instant values in DB and should be cleaned)
{{alerts}}</pre>

</div>