<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true" name="Ref-Mon Logging configuration">
    <!-- SEE https://logging.apache.org/log4j/2.x/manual/configuration.html#XML -->

    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout"
                    pattern="%-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] (%t) (%X{CurrentPrincipal}) %c{1}.%M(%L) | %m%n"/>
        </Appender>

        <RollingFile name="fileInfoLogger" fileName="logs/refmon.log" filePattern="logs/refmon-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <!--<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>-->
                <pattern>%-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] (%X{CurrentPrincipal}) [%8.8t] %c{1}.%M(%L) | %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <RollingFile name="fileDebugLogger" fileName="logs/refmon-debug.log" filePattern="logs/refmon-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%-5p [%d{yyyy-MM-dd HH:mm:ss.SSS}] (%X{CurrentPrincipal}) [%8.8t] %c{1}.%M(%L) | %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="ch.mno.copper" level="debug" additivity="true">
            <AppenderRef ref="fileDebugLogger" />
        </Logger>
        <Logger name="ch.mno.copper" level="info" additivity="true">
            <AppenderRef ref="fileInfoLogger" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>

</Configuration>
